
#Pasar a false en producion es para la sinconizacion de la base de datos con el entorno dev
DB_SYNCHRONIZE=true
PORT=3000
BASE_URL=http://localhost:3000/api

#Postgres
DB_HOST_POSTGRES=localhost
DB_PASSWORD=""
DB_NAME=SoporteTecnicoDB
DB_USER=postgres
DB_PORT=5432
DB_USERNAME=postgres

#Redis 
DB_HOST_REDIS=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""

# Minio almacenador de archivos
MINIO_ROOT_USER=""
MINIO_ROOT_PASSWORD=""
MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1

#Telegram
TELEGRAM_TOKEN=""

# Gmail
EMAIL_TOKEN=""
EMAIL_USER=""

# JSON WEB TOKEN https://www.easykit.org/jwt-secret-generator?utm_source=chatgpt.com
JWT_SECRET=""

SIGNATURE_SECRET_KEY=""


CLOUDFLARE_TUNNEL_TOKEN=""

